data/urban-ipeds/raw-data/colleges_ipeds_directory.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/colleges_ipeds_finance.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/finance/ipeds-finance-20182020.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/enrollment/ipeds-enrollment.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/faculty/ipeds-salaries.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/faculty/ipeds-tenure.csv filter=lfs diff=lfs merge=lfs -text
data/inflation-indices/freds-cpiu.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/urban-clean-allunis.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/urban-clean-publicunis.csv filter=lfs diff=lfs merge=lfs -text
data/states/illinois/desc.md filter=lfs diff=lfs merge=lfs -text
data/states/illinois/illinois-096-0266.pdf filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2010_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2011_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2012_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2013_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2014_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2015_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2016_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2017_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2018_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2019_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2020_Salaries.xls filter=lfs diff=lfs merge=lfs -text
#data/states/illinois/2021_Salaries.xls filter=lfs diff=lfs merge=lfs -text
data/states/illinois/illinois-postsecondary-investments.pdf filter=lfs diff=lfs merge=lfs -text
data/states/illinois-professors-anonymised.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/documentation/educationdata.pdf filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/documentation/get.sh filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/documentation/index.html filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/documentation/introducing-educationdata.html filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/colleges_ipeds_admissions-enrollment.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/colleges_ipeds_ay_tuition_fees.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/colleges_ipeds_enrollment-fte.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/colleges_ipeds_institutional-characteristics.csv filter=lfs diff=lfs merge=lfs -text
data/urban-ipeds/raw-data/colleges_ipeds_salaries_is.csv filter=lfs diff=lfs merge=lfs -text
